{% load static %}

<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/organization_detail.css' %}"/>
        <meta charset="UTF-8">
        <title>Organization Detail</title>
        <!-- Include any necessary scripts for your graph library -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>


    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>    
        
        <nav class="px-3 navbar navbar-dark bg-dark navbar-expand-lg">
            <a class="navbar-brand" href="/">NP - FP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="navItems collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Home</a>
                    </li>   
                    <li class="nav-item active">
                        <a class="nav-link" href="/random">Random</a>
                    </li>   
                </ul>
                <form id="searchForm" class="searchForm d-flex form-inline my-2 my-lg-0" action="{% url 'organization_detail' %}" method="GET">
                    <input class="searchFormInput form-control mr-sm-2" type="text" id="ein" name="ein" placeholder="Search" aria-label="Search">
                    <button class="searchFormBtn btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                </form>
                <script>
                    document.getElementById("searchForm").onsubmit = function(event) {
                        var einValue = document.getElementById("ein").value;
                        if (einValue.trim() === "") {
                            // Prevent form submission if input is empty
                            event.preventDefault();
                            alert("Please enter an EIN");
                        }
                    };
                </script>
            </div>
        </nav>

        
        <div class="orgContainer my-3 d-inline-flex justify-content-center">
            {% if organization %}
                <div class="orgInfo">
                    <div class="orgHeader">
                        <p class="display-6">NonProfit Info</p>
                    </div>
                    <div class="orgName">
                        <p class="orgTitle">Name:</p>
                        <p class="orgResult">{{ organization.organization.name }}</p>
                    </div>
                    <div class="orgName">
                        <p class="orgTitle">EIN:</p>
                        <p class="orgResult">{{ organization.organization.ein }}</p>
                    </div>
                    <div class="orgName">
                        <p class="orgTitle">Address:</p>
                        <p class="orgResult">{{ organization.organization.address}}, {{ organization.organization.city}}, {{ organization.organization.state}}, {{ organization.organization.zipcode}}</p>
                    </div>
                </div>
                
                <div class="chartRightSide">
                    <div class="chartHeader">
                        <p class="display-6">NonProfit Graphs</p>
                    </div>
                    <div class="chartContainer grid-container ">
                        <!-- Where the revenue graph is -->
                        <div class="chart chartTotRev grid-item" id="chart-container">
                            <canvas id="TRevenue_Chart"></canvas>
                        </div> 
    
                        <!-- Where the total expenses graph is -->
                        <div class="chart chartTotExp grid-item" id="chart-container">
                            <canvas id="TFE_Chart"></canvas>
                        </div> 
                        
                        <!-- Where the total assets graph is -->
                        <div class="chart chartTotAss grid-item" id="chart-container">
                            <canvas id="TAssests_Chart"></canvas>
                        </div> 
                        
                        <!-- Where the total liabilities graph is -->
                        <div class="chart chartTotAss grid-item" id="chart-container">
                            <canvas id="TLiabilities_Chart"></canvas>
                        </div> 
                        
                        <!-- Where the total gifts graph is -->
                        <div class="chart chartTotAss grid-item" id="chart-container">
                            <canvas id="TGifts_Chart"></canvas>
                        </div> 
                        
                        <!-- Where the total program revenue graph is -->
                        <div class="chart chartTotAss grid-item" id="chart-container">
                            <canvas id="TPR_Chart"></canvas>
                        </div> 
                        
                        <!-- Where the total investment income graph is -->
                        <div class="chart chartTotAss grid-item" id="chart-container">
                            <canvas id="TII_Chart"></canvas>
                        </div> 
    
                        <!-- Where the total compensation to officiers graph is -->
                        <div class="chart chartTotAss grid-item" id="chart-container">
                            <canvas id="TCO_Chart"></canvas>
                        </div> 
                        <div class="predictorCharts">
                            <div class="chartHeader">
                                <p class="display-6">Predictions</p>
                            </div>
                            <div class="chart predictorChart" id="chart-container">
                                <img class="predictedTotalExps" src="data:image/png;base64,{{ plot_image_expenses }}" alt="Predicted Total Expenses">
                            </div>
                            <div class="chart predictorChart" id="chart-container">
                                <img class="predictedTotalExps" src="data:image/png;base64,{{ plot_image_revenue }}" alt="Predicted Total Expenses">
                            </div>

                        </div>
                    </div>
                </div>
        
            {% else %}
                <p>No organization found</p>
            {% endif %}
        </div>

        <script type="text/javascript">

            // Extract data from the organization object
            var filingsWithData = JSON.parse("{{ filings_with_data_json|escapejs }}");
            var tax_prd_yr = [];
            var totrevenue = [];
            var total_fnc_expenses = [];
            var total_assets = [];
            var total_liabilities = [];
            var total_gifts = [];
            var total_program_revenue = [];
            var investment_income = [];
            var compensation_co = [];
        
            // Fills in TotalRevenue + Tax Years arrays
            for (var i = 0; i < filingsWithData.length; i++) {
                tax_prd_yr.push(filingsWithData[i].tax_prd_yr);
                totrevenue.push(filingsWithData[i].totrevenue);
                total_fnc_expenses.push(filingsWithData[i].totfuncexpns);
                total_assets.push(filingsWithData[i].totassetsend);
                total_liabilities.push(filingsWithData[i].totliabend);
                total_gifts.push(filingsWithData[i].totcntrbgfts);
                total_program_revenue.push(filingsWithData[i].totprgmrevnue);
                investment_income.push(filingsWithData[i].invstmntinc);
                compensation_co.push(filingsWithData[i].compnsatncurrofcr);
            }
            tax_prd_yr.reverse()
            totrevenue.reverse()
            total_fnc_expenses.reverse()
            total_assets.reverse()
            total_liabilities.reverse()
            total_gifts.reverse()
            total_program_revenue.reverse()
            investment_income.reverse()
            compensation_co.reverse()

            // Total Revenue + Time Chart
            var ctx = document.getElementById('TRevenue_Chart').getContext('2d');
            var TRevenue_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Revenue',
                        data: totrevenue,
                        borderWidth: 1
                    }]
                }
            });

            // Total Functional Expenses + Time Chart
            var ctx = document.getElementById('TFE_Chart').getContext('2d');
            var TFE_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Functional Expenses',
                        data: total_fnc_expenses,
                        borderWidth: 1
                    }]
                },
            });
            
            // Total Assets + Time Chart
            var ctx = document.getElementById('TAssests_Chart').getContext('2d');
            var TAssests_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Assets',
                        data: total_assets,
                        borderWidth: 1
                    }]
                },
            });
            
            // Total Liabilities + Time Chart
            var ctx = document.getElementById('TLiabilities_Chart').getContext('2d');
            var TLiabilities_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Liabilities',
                        data: total_liabilities,
                        borderWidth: 1
                    }]
                },
            });
            
            // Total Gifts + Time Chart
            var ctx = document.getElementById('TGifts_Chart').getContext('2d');
            var TGifts_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Gifts',
                        data: total_gifts,
                        borderWidth: 1
                    }]
                },
            });
            
            // Total Program Revenue + Time Chart
            var ctx = document.getElementById('TPR_Chart').getContext('2d');
            var TPR_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Program Revenue',
                        data: total_program_revenue,
                        borderWidth: 1
                    }]
                },
            });
            
            // Total Investment Income + Time Chart
            var ctx = document.getElementById('TII_Chart').getContext('2d');
            var TII_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Investment Income',
                        data: investment_income,
                        borderWidth: 1
                    }]
                },
            });
            
            // Total Compensation to Officers + Time Chart
            var ctx = document.getElementById('TCO_Chart').getContext('2d');
            var TCO_Chart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: tax_prd_yr,
                    datasets: [{
                        label: 'Total Compensation to Officers',
                        data: compensation_co,
                        borderWidth: 1
                    }]
                },
            });
        </script>
    </body>
</html>